@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.table > tbody > tr > td {
     vertical-align: middle;
}

.table > tbody > tr > td > span {
     vertical-align: middle;
}

.label_search {
     display: flex;
     flex-direction: row;
     display: inline-block;
}

.label_search input {
     width: 1rem;
     height: 1rem;
}